* {
    margin: 0px;
    padding: 0px;
}

.caja-master {
    
    align-items: center;
    justify-content: center;
    border: solid;
    margin: 30px 10px 15px 10px;
    padding: 30px 15px 30px 10px;
    
}

.caja-contenedor {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    margin: 30px 20px 30px 10px;
    padding: 30px 15px 30px 10px;
    border: solid black;
    

}

.caja {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    margin: 30px 20px 30px 15px;
    padding: 30px 15px 30px 10px;
    border: solid black;

}